# Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Env file
.env

# Deployment zip
*.zip
/deployment

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
